connect to $base_db_name ;
set schema $base_db_user ;

-- Insert the row in TenantInfo table with a placeholder for the schema_version. The version will be updated by a common function
insert into TENANTINFO (tenantid,ontology,tenanttype,dailylimit,rdbmsengine,bacaversion,connstring,dbname,dbuser,tenantdbversion,featureflags) values ( '$tenant_id', '$tenant_ontology', $tenant_type, $daily_limit, 'DB2', '24.0.0','$rdbmsconnection','$tenant_db_name','$tenant_db_user','24.0.0',154366) ;
connect reset ;
