connect to $base_db_name ;
set schema $base_db_user ;
insert into TENANTINFO (tenantid,ontology,tenanttype,dailylimit,rdbmsengine,bacaversion,rdbmsconnection,dbname,dbuser,tenantdbversion,featureflags) values ( '$tenant_id', '$tenant_ontology', $tenant_type, $daily_limit, 'DB2', '3.0',  encrypt('$rdbmsconnection','AES_KEY'),'$tenant_db_name','$tenant_db_user','3.0',23295) ;
connect reset ;
