-- Tenant DB upgrade script for 24.0.0
CREATE TABLE runtime_doc_usage
(
    YEAR SMALLINT NOT NULL , 
    MONTH SMALLINT NOT NULL , 
    DAY SMALLINT NOT NULL , 
    WEEK_DAY SMALLINT NOT NULL , 
    LAST_DOC_TIME BIGINT NOT NULL , 
    DOCS INTEGER NOT NULL , 
    PAGES INTEGER NOT NULL , 
    CONSTRAINT RUNTIME_DOC_USAGE_PKEY PRIMARY KEY (YEAR, MONTH, DAY)
);
