.idea
.DS_Store
.vscode/*
ACA/configuration-ha/DB2/DeleteTenant.sh
/BAI/platform/minikube/ibm-bai-dev-3.1.0-*-.tar.gz
/BAI/platform/minikube/chart*
/BAI/platform/minikube/images*
scripts/cs_prepare_install.log
scripts/prepare_install.log
scripts/test.sh
scripts/deploy_odlm.sh
scripts/odlm.sh
scripts/cp4a-script-logs
scripts/cpfs/installer_scripts/cp3pt0-deployment/logs

scripts/new.sh
scripts/proj

scripts/test1.sh
scripts/jdbc/.gitkeep
/.vs
.tmp
scripts/baw-prerequisites*
scripts/cp4ba-prerequisites*
scripts/cp4ba-upgrade*
scripts/network-policies