apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ prefix }}-create-file-job-{{ accessMode|lower}}-{{ type }}"
  labels:
     job: file-permission
spec:
  template:
    metadata:
       labels:
         job: file-permission
    spec:
      containers:
      - name: create-file-gid-job
        image: "{{ docker_registry }}/ibm-cp4d-public/storage-util:1.0-{{ arch }}"
        imagePullPolicy: "Always"
        env:
          - name: FILE_NAME_GID
{% if test_supplemental_group is defined %}
            value: "sgtest.txt"
{% else %}
            value: "gidtest.txt"
{% endif %}
          - name: TEST_UID
            value: "{{ test_uid }}"
          - name: TEST_GID
{% if test_supplemental_group is defined %}
            value: "{{ test_supplemental_group }}"
{% else %}
            value: "{{ test_gid }}"
{% endif %}
        command:
        - "/bin/sh"
        - "-ec"
        - |
          /tmp/create-file-gid.sh 
        volumeMounts:
        - name: tmp-store
          mountPath: /mnt/data
        - name: produce-conf 
          mountPath: /tmp/create-file-gid.sh
          subPath: create-file-gid.sh 
      securityContext:
{% if test_supplemental_group is defined and accessMode=='ReadWriteMany' %}
        supplementalGroups: [{{ test_supplemental_group }}]
{% elif test_supplemental_group is defined and accessMode=='ReadWriteOnce' %}
        fsGroup: {{ test_supplemental_group }}
{% endif %}
        runAsGroup: {{ test_gid }}
{% if test_supplemental_group is defined and accessMode=='ReadWriteOnce' %}
      serviceAccountName: fsgroup-sa
{% endif %}
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: "{{ prefix }}-{{ accessMode|lower }}"
      - name: produce-conf
        configMap:
          defaultMode: 0755
          name: producer-cm 
      restartPolicy: Never
