apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ prefix }}-file-owner-uid-job-{{ accessMode|lower}}-{{ type }}"
  labels:
     name: file-owner-uid-job
spec:
  template:
    metadata:
      name: file-owner-uid-job
      labels:
         name: file-owner-uid-job
    spec:
      containers:
      - name: producer-job
        image: "{{ docker_registry }}/ibm-cp4d-public/storage-util:1.0-{{ arch }}"
        imagePullPolicy: "IfNotPresent"
        env:
          - name: FILE_NAME
            value: "/mnt/data/file-owner-uid.txt"
        command:
        - "/bin/sh"
        - "-ec"
        - |
          /tmp/file-create-uid-check-owner.sh
        volumeMounts:
        - name: tmp-store
          mountPath: /mnt/data
        - name: produce-conf 
          mountPath: /tmp/file-create-uid-check-owner.sh
          subPath: file-create-uid-check-owner.sh
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: "{{ prefix }}-{{ accessMode|lower }}"
      - name: produce-conf
        configMap:
          defaultMode: 0755
          name: producer-cm 
      restartPolicy: Never
