apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ prefix }}-consumer-job-{{ accessMode|lower}}-{{ type }}"
spec:
  backoffLimit: {{ backoffLimit }}
  parallelism: {{ threads|int }}   
  completions: {{ threads|int }}
  template:
    metadata:
       labels:
         job: consumer
    spec:
      affinity:
{% if accessMode == 'ReadWriteMany' %}
        podAntiAffinity:
{% else %}
        podAffinity:
{% endif %}
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: job
                operator: In
                values:
                - consumer
            topologyKey: "kubernetes.io/hostname"
      containers:
      - name: consumer-job
        image: "{{ docker_registry }}/centos/{{ arch }}"
        imagePullPolicy: "IfNotPresent"
        env:
          - name: FILE_NAME
            value: "/mnt/data/sample.txt"
        command:
        - "/bin/sh"
        - "-ec"
        - |
          /tmp/consume.sh
        volumeMounts:
        - name: tmp-store
          mountPath: /mnt/data
        - name: consume-conf 
          mountPath: /tmp/consume.sh
          subPath: consume.sh 
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: "{{ prefix }}-{{ accessMode|lower }}"
      - name: consume-conf
        configMap:
          defaultMode: 0755
          name: consumer-nocheck-cm 
      restartPolicy: Never
