--base DB changes
connect to $base_db_name ;
set schema $base_db_user ;

alter table tenantinfo add column dailylimit bigint not null with default 0;
alter table tenantinfo add column dbname varchar(255);
alter table tenantinfo add column dbuser varchar(255);
reorg table tenantinfo;

connect reset;