GRANT CONNECT ON DATABASE TO USER $base_db_user;
GRANT USE OF TABLESPACE USERSPACE1 TO USER $base_db_user;
GRANT SELECT ON SYSIBM.SYSVERSIONS TO USER $base_db_user;
GRANT SELECT ON SYSCAT.DATATYPES TO USER $base_db_user;
GRANT SELECT ON SYSCAT.INDEXES TO USER $base_db_user;
GRANT SELECT ON SYSIBM.SYSDUMMY1 TO USER $base_db_user;
GRANT USAGE ON WORKLOAD SYSDEFAULTUSERWORKLOAD TO USER $base_db_user;
GRANT IMPLICIT_SCHEMA ON DATABASE TO USER $base_db_user;