GRANT CONNECT,CREATETAB ON DATABASE TO USER $tenant_db_user;
GRANT USE OF TABLESPACE ${tenant_db_name}DATA TO user $tenant_db_user;
GRANT USE OF TABLESPACE USERTEMP1 TO USER $tenant_db_user;
GRANT SELECT ON SYSIBM.SYSVERSIONS TO USER $tenant_db_user;
GRANT SELECT ON SYSCAT.DATATYPES TO USER $tenant_db_user;
GRANT SELECT ON SYSCAT.INDEXES TO USER $tenant_db_user;
GRANT SELECT ON SYSIBM.SYSDUMMY1 TO USER $tenant_db_user;
GRANT USAGE ON WORKLOAD SYSDEFAULTUSERWORKLOAD TO USER $tenant_db_user;
GRANT IMPLICIT_SCHEMA ON DATABASE TO USER $tenant_db_user;