{% macro nodeAffinity() %}
{% if dedicated_compute_node is defined and dedicated_compute_node.label_key is defined and dedicated_compute_node.label_value is defined and dedicated_compute_node.label_key  not in ['', '<optional>'] and dedicated_compute_node.label_value  not in ['', '<optional>'] %}
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: {{ dedicated_compute_node.label_key }}
          operator: In
          values:
          - "{{ dedicated_compute_node.label_value }}"
{% endif %}
{% endmacro %}