---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ storage_perf_namespace }}
spec: {}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-sysbench-rwx
  namespace: "{{ storage_perf_namespace }}"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ rwx_storagesize }}
  storageClassName: {{ storageClass_ReadWriteMany }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-sysbench-rwo
  namespace: "{{ storage_perf_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ rwo_storagesize }}
  storageClassName: {{ storageClass_ReadWriteOnce }}