Config Variables:
--------------------------------

cluster_infrastructure:    {{ cluster_infrastructure }}
cluster_name:           {{ cluster_name }}
storage_type:           {{ storage_type }}
dedicated_compute_node: {{ dedicated_compute_node }}

rwx_storagesize:        {{ rwx_storagesize }} 
storageClass_ReadWriteMany:       {{ storageClass_ReadWriteMany }} 
rwo_storagesize:        {{ rwo_storagesize }} 
storageClass_ReadWriteOnce:       {{ storageClass_ReadWriteOnce }} 

sysbench_random_read:   {{ sysbench_random_read }}
rread_threads:          {{ rread_threads }}
rread_fileTotalSize:    {{ rread_fileTotalSize }}
rread_fileNum:          {{ rread_fileNum }}
rread_fileBlockSize:    {{ rread_fileBlockSize }}

sysbench_random_write:   {{ sysbench_random_write }}
rwrite_threads:          {{ rwrite_threads }}
rwrite_fileTotalSize:    {{ rwrite_fileTotalSize }}
rwrite_fileNum:          {{ rwrite_fileNum }}
rwrite_fileBlockSize:    {{ rwrite_fileBlockSize }}

sysbench_sequential_read:   {{ sysbench_sequential_read }}
sread_threads:              {{ sread_threads }}
sread_fileTotalSize:        {{ sread_fileTotalSize }}
sread_fileNum:              {{ sread_fileNum }}
sread_fileBlockSize:        {{ sread_fileBlockSize }}
swrite_fileNum:             {{ swrite_fileNum }}
swrite_fileBlockSize:       {{ swrite_fileBlockSize }}
