{% import 'commonhelper.macros.j2' as cm with context %}
apiVersion: batch/v1
kind: Job
metadata:
  name: sysbench-sequential-read-rwx
  namespace: "{{ storage_perf_namespace }}"
spec:
  template:
    metadata:
      name: sysbench-sequential-read-rwx
    spec:
      {{ cm.nodeAffinity() | indent(6) }}
      containers:
      - name: sysbench-sequential-read-rwx
        image: {{ imageurl }}-{{ arch }}
        command: ["python3"]
        args:
          - '/tmp/sysbench.py'
          - '{{ sread_threads }}'
          - '{{ sread_fileTotalSize }}'
          - '{{ sread_fileNum }}'
          - 'seqrd'
          - '{{ sread_fileBlockSize }}'
          - 'async'
          - '0'
          - '{{ file_extra_flags }}'
          - '{{ cluster_infrastructure }}'
          - '{{ cluster_name }}'
          - '{{ storage_type }}'
          - 'pvc-sysbench-rwx'
        volumeMounts:
        - name: tmp-store
          mountPath: /tmp/data
      volumes:
      - name: tmp-store
        persistentVolumeClaim:
          claimName: pvc-sysbench-rwx
          readOnly: false
      restartPolicy: Never
