CREATE DATABASE $tenant_db_name AUTOMATIC STORAGE YES USING CODESET UTF-8 TERRITORY DEFAULT COLLATE USING SYSTEM PAGESIZE 32768;

CONNECT TO $tenant_db_name ;

GRANT CONNECT,DATAACCESS ON DATABASE TO USER $tenant_db_user ;

GRANT USE OF TABLESPACE USERSPACE1 TO USER $tenant_db_user ;

CONNECT RESET;