[req]
default_bits = 2048
utf8         = yes
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = CA
countryName_min = 2
countryName_max = 2
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = NS
stateOrProvinceName_max = 64
localityName = Locality Name (eg, city)
localityName_default = Halifax
localityName_max = 64
organizationName = Organization Name (eg, company)
organizationName_default = IBM
organizationName_max = 64
organizationalUnitName = Organizational Unit Name (eg, section)
organizationalUnitName_default = baca
organizationalUnitName_max = 64
commonName = *.svc.cluster.local
commonName_max = 64

[v3_req]
basicConstraints     = CA:FALSE
subjectKeyIdentifier = hash
keyUsage             = digitalSignature, keyEncipherment
extendedKeyUsage     = clientAuth, serverAuth
subjectAltName       = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1


